.footer{
  background-color: #007E6E;
  width: 100%;
  max-width: 800px;
  max-height: fit-content;
  flex: none;
  font-weight: bold;
  color: #fffdfddc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}