

.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  flex: none;
  background-color: #c9b188;
  padding: 20px 20px 20px 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header p{
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

#span1{
  color: #73AF6F;
}

#span2{
  color: #e6e1b4;
}

#span3{
  color: #007E6E;
}
