.task-container form{
  display: flex;
  flex-direction: row;
  gap: 10px;
}



.tasks-container{
  margin-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.tasks-btns{
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.add-task-button {
  background-color: #008000c0;
}

.remove-task-btn{
  background-color: #e21515d0;
  margin-right: 5px;
}
