.tasks-grid{

  display: flex;
  flex-direction: column;
  align-items: start;
}

.tasks-container{
  width: 390px;
  padding: 5px;
  margin: 20px 0 20px  0;
  border: 1px solid black;
  text-align: left;
}

.tasks-container p{
  font-weight: bold;
}

button {
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.remove-task-btn{
  background-color: red;
  margin-right: 10px;
}

.update-task-btn{
  background-color: rgb(48, 48, 190);
}